/* Common Styles */
html {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    font-family: "Roboto", sans-serif;
    position: relative;
}

li {
    list-style: none;
}

.section-title {
    font-family: "VT323";
    font-size: 4.57rem;
}

:root {
    --white-color: #f6f6f6;
    --black-color: #000;
    --accent-color: #F4CD4B;
}

.heading-1 {
    font-size: 3.75rem;
    font-weight: 700;
}

.lang-eng {
    display: block;
}

.lang-pt {
    display: none;
}

/* Navbar */
.navbar {
    height: 5.18rem;
    margin: 0 5.31rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #DEE2E6;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 4%;
    visibility: hidden;
}

.line-menu {
    width: 19px;
    height: 2.5px;
    margin-bottom: 5px;
    background-color: #000;
}

.navbar:first-child {
    display: flex;
    justify-content: space-between;
}

.language {
    display: flex;
    margin-left: 3.53rem;
    align-items: center;
    cursor: pointer;
}

.dropdown {
    display: inline-block; 
    position: relative; 
}

.language .nav-item {
    margin: 0 7px;
}

.navbar:last-child {
    display: flex;
    justify-content: space-between;
}

.nav-item.lang {
    margin: 2px;
}

.language-block {
    display: none;
    position: absolute;
    top: 1.5rem;
    width: 100%;
    height: 40px;
    padding-left: 0.5rem;
    align-items: center;
}

.bubble {
    height: 400px;
	position: absolute;
    top: 1rem;
    right: 1rem;
	display: block;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
	line-height: 1.3em;
	background-color: #fff;
	color: #000;
	
	box-shadow: 0 -4px #fff, 
				0 -7px #000, 
				4px 0 #fff, 
				4px -3px #000, 
				7px 0 #000, 
				0 4px #fff, 
				0 7px #000, 
				-4px 0 #fff, 
				-4px 4px #000, 
				-7px 0 #000, 
				-4px -4px #000, 
				4px 4px #000;
	box-sizing: border-box;
	width: 400px;
}

.bubble::after {
	content: '';
	display: block;
	position: absolute;
	box-sizing: border-box;
}


.bubble.mini {
	width: 115px;
    height: 25px;
	font-size: 16px;
    text-align: center;
	font-family: monospace;
}

.bubble.top::after {
	height: 3px;
	width: 3px;
	top: -7px;
	right: 20px;
	box-shadow: 0 -3px #000, 
				0 -6px #000, 
				0 -9px #000, 
				0 -12px #000, 
				-3px -9px #000, 
				-6px -6px #000, 
				-9px -3px #000, 
				-4px -4px #fff, 
				-8px -4px #fff, 
				-4px -8px #fff, 
				-3px 0 #fff, 
				-6px 0 #fff, 
				-9px 0 #fff;
}

.bubble ul{ 
    padding: 0;
    margin: 0;
}


.dropdown:hover .language-block{
    display: block;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 1rem;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1rem;
}

.logo {
    text-decoration: none;
    color: #000;
    font-family: "VT323";
    font-size: 2.5rem;
}


/* Heading */
.heading-wrapper {
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Left Side Heading */

.heading-left {
    display: flex;
    justify-content: center;
}

.image-wrapper img {
    position: relative;
    height: 24.78rem;
    margin: 0 0 0 5.31rem;
    animation: userAnimation 4s ease-in-out infinite;
}

@keyframes userAnimation {
    0% {
        transform: translatey(0px);
    }

    50% {

        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

/* Right Side Heading */

.heading-right {
    margin: 0 5.37rem;
    width: 39.62rem;
}

.heading-text {
    font-size: 1.18rem;
    margin-bottom: 3.22rem;
}

.heading-1 {
    font-size: 4.57rem;
    margin: 0;
    line-height: 60px;
}

.button-style {
    width: 14rem;
    height: 3.62rem;
    position: relative;
    margin-top: 2.4rem;
    cursor: pointer;
}

.main-rec {
    box-sizing: border-box;
    position: absolute;
    width: 14rem;
    height: 3.62rem;
    background: var(--accent-color);
    border: 2px solid var(--black-color);
}

.main-rec p {
    color: var(--black-color);
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
    padding-top: 6%;
}

.rec-1 {
    box-sizing: border-box;

    position: absolute;
    bottom: 0;
    width: 0.44rem;
    height: 0.44rem;

    background: var(--white-color);
    border-width: 2px 2px 0px 0px;
    border-style: solid;
    border-color: #000000;
}


.rec-2 {
    box-sizing: border-box;

    position: absolute;
    right: 0;
    width: 0.44rem;
    height: 0.44rem;

    background: var(--white-color);
    border-width: 0px 0px 2px 2px;
    border-style: solid;
    border-color: #000000;
}


.rec-3 {
    box-sizing: border-box;

    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.44rem;
    height: 0.44rem;

    background: var(--white-color);
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: #000000;

}

.rec-4 {
    box-sizing: border-box;

    position: absolute;
    width: 0.44rem;
    height: 0.44rem;

    background: var(--white-color);
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #000000;
}

/* Latest Work Section */

.latest-work-wrap {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 3.96rem 0 3.96rem 0;
    background-color: #F1EFEB;
}

.latest-work-title,
.latest-work-text {
    margin: 0 0 0 5.31rem;
}

.latest-works-gallery {
    position: relative;
    margin: 0 0 0 5.31rem;
    display: flex;

}

.latest-works-gallery a {
    text-decoration: none;
}

.project-wrap {
    position: relative;
    width: 51%;
    height: 34.78vw;
    margin: 3rem 7rem 3rem 0;
    background: #D7CBBB;
    border-radius: 4px 33px 37px;
    overflow: hidden;
}

.layer-gallery {
    position: absolute;
    display: flex;
    width: 100%;
}

.arrow-wrap {
    position: relative;
    width: 51%;
    height: 34.78vw;
    margin: 3rem 7rem 3rem 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px 33px 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
}

.arrow-wrap:hover {
    opacity: 1;
}

.arrow-wrap-1 {
    z-index: 2;
}

.arrow-wrap-2 {
    z-index: 2;
}

.arrow {
    width: 5rem;
    background-color: var(--white-color);
    font-size: 4rem;
    border-radius: 10%;
    text-align: center;
}

.project-title {
    font-size: 29.4px;
    font-weight: bold;
    margin: 2.5rem 0 0 2.5rem;
    color: var(--black-color);
}

.project-technologies {
    font-size: 19.6px;
    margin: 3px 0 0 2.5rem;
    color: var(--black-color);
}

.project-wrap img {
    position: relative;
    left: -2rem;
    margin: 2rem 0 0 0;
    width: 100%;
}

.line {
    border-left: 2px solid #DEDDDA;
    height: 18.5px;
    position: absolute;
    left: 50%;
    margin: -3px;
}

.show-more {
    text-align: center;
    margin: 2rem 0 0 0;
}

.show-more a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black-color);
}

/* Contact Me Section */

.contact-wrapper {
    height: 39.68rem;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {
    margin: 1rem auto;
}


/* Contact Window */

.window-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: none;
}

.window-wrapper {
    position: fixed;
    width: 906px;
    height: 518px;
    background-color: var(--white-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    visibility: hidden;
    opacity: 0;
}

.change {
    visibility: visible;
    opacity: 1;
}

.window-heading {
    position: absolute;
    width: 320px;
    height: 133px;
    left: 50px;
    top: 55px;

    font-family: "VT323";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
}

.window-text {
    position: absolute;
    width: 332px;
    height: 28px;
    left: 50px;
    top: 372px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.window-left i {
    position: absolute;
    margin: 9px 0;
    cursor: pointer;
}

.window-left i:first-of-type {
    left: 5.52%;
    top: 78.96%;
    font-size: 40px;

}

.icon-wrap {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 78.96%;
    left: 101px;
    margin: 12px 0;
    border-radius: 100%;
    background-color: #000;
}

.window-left i:last-child {
    left: 106px;
    top: 80%;
    font-size: 32px;
    color: var(--white-color);
}

.window-right {
    position: absolute;
    right: 0;
}

#contact-form {
    position: absolute;
    width: auto;
    height: 356px;
    right: 0px;
    top: 131px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
}

form:last-child {
    align-items: flex-end;
}

label {
    font-size: 18px;
    margin: 0 50px;
}

input,
textarea {
    width: 374px;
    background-color: var(--white-color);
    border: none;
    border-bottom: 2px solid var(--black-color);
    margin: 0 50px 0 50px;
    outline: none;
}

#contact-form textarea {

    min-height: 54px;
    max-height: 54px;
    min-width: 374px;
    max-width: 374px;
}

#contact-form button {
    position: absolute;
    bottom: 0;
    right: 50px;
    border: none;
    background: #556AEB;
    width: 80px;
    height: 40px;
    border-radius: 100px;
    color: var(--white-color);
    cursor: pointer;
}

/* Footer */
.footer {
    height: 4rem;
    margin: 0 5.31rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #DEE2E6;

}

.footer ul {
    position: absolute;
    margin: 0 auto;
    visibility: hidden;

}

.email {
    text-decoration: none;
    color: var(--black-color);
    font-size: 16px;
    width: 0 auto;
}

/* Responsive */

/* Largest Size */
@media (min-width: 1279px) {
    .navbar {
        width: 1093px;
        margin: 0 auto;
    }

    .heading-wrapper {
        width: 1263px;
        margin: 0 auto;
    }

    .project-wrap {
        width: 31.31rem;
        height: 27.94rem;
    }

    .arrow-wrap {
        width: 31.31rem;
        height: 27.94rem;
    }

    .latest-work-title,
    .latest-work-text {
        width: 1093px;
        margin: 0 auto;
    }

    .latest-works-gallery {
        width: 1093px;
        margin: 0 auto;
        display: flex;
    }

    .arrow-wrap-2 {
        position: absolute;
        right: -9.2%;
        z-index: 2;
    }

    .project-1 {
        margin: 3rem 0 2rem 0;
    }

    .project-2 {
        margin: 3rem 0 2rem 5rem;
    }

    .footer {
        width: 1093px;
        margin: 0 auto;
    }
}

@media (min-width: 1009px) {
    .menu-icon {
        visibility: hidden;
    }
}

/* Tablet Size */
@media (max-width: 1008px) {
    html {
        font-size: 90%;
    }

    .navbar {
        margin: 0;
    }

    .logo {
        margin: 0 0 0 3rem;
    }

    /* Mobile Menu */

    .show {
        transform: translateX(0);  
    }

    .hide {
        transform: translateX(100%); 
    }

    .vertical-menu {
        display: block;
        transition: transform 0.2s;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 50%;
        background-color: var(--white-color);
        z-index: 11;
    }

    .navbar-list {
       display: flex;
       flex-direction: column;
       justify-content: start;
       align-items: start;
       margin: 4.6rem 3rem 0 2rem;
    }

    .menu-icon {
        margin-left: 1rem;
        font-size: 1.5rem;
        height: 50%;
    }

    .divider {
        position: relative;
        top: 25rem;
        width: 100%;
        border-bottom: 1px solid #DEE2E6;
        margin-top: 2rem;
    }

    .language {
        margin-top: 1.5rem;
    }

    .language li a {
        height: 40px;
        margin-right: 1.5rem;
    }


    .dropdown {
        height: auto;
        margin: 0;
    }

    .ai-globe {
        font-size: 1.5rem;
        padding-top: 1.3rem;
    }

    .ai-triangle-down-fill {
        position: absolute;
        margin-left: 7rem;
        font-size: 1.5rem;
        padding-top: 1.3rem;
    }

    .vertical-menu .nav-item,
    .vertical-menu .language
    {
        font-size: 2rem;
        color: var(--black-color);
        z-index: 3;
        margin-left: 1.5rem;
    }

    .language-block {
        display: block;
        position: relative;
        height: auto;
        top: 0;
        left: 4rem;

    }    

    .bubble {
        visibility: hidden;
    }

    .bubble ul {
        visibility: visible;
    }

    .vertical-menu li{
        line-height: 4.5rem;
    }

    .menu-wrapper {
        visibility: visible;
        z-index: 13;
    }

        /* End of Mobile Menu */

    .heading-wrapper {
        height: 65vh;
    }

    .heading-left {
        margin-left: -3rem;
    }

    .heading-right {
        margin: 0 3rem 0 4rem;
    }

    .heading-right .button-style,
    .main-rec {
        width: 100%;
    }

    .main-rec p {
        padding-top: 3%;
    }

    .latest-work-title,
    .latest-work-text {
        margin: 0 0 0 3rem;
    }

    .latest-works-gallery {
        margin: 0 0 0 3rem;
    }

    .project-wrap {
        margin: 3rem 3rem 3rem 0;
    }

    .arrow-wrap {
        z-index: -10;
    }

    .contact-wrapper .button-style {
        width: 280px;
    }

    .contact-wrapper .main-rec p {
        position: relative;
        padding-top: 13px;
    }

    .footer {
        margin: 0;
    }

    .footer .navbar-list {
        visibility: visible;
        padding: 0;
        flex-direction: row;
    }


    .nav-item {
        margin: 0 2.5rem;
        color: #9e9e9e;
        font-size: 1rem;
    }

    .email {
        position: absolute;
        visibility: hidden;
    }

}

@media (max-width: 808px) {
    .heading-left {
        width: 40rem;
    }

    .image-wrapper {
        margin-left: -0.5rem;
    }

    .heading-right {
        margin: 0 1.3rem 0 3rem;
    }
    

}

@media (max-width: 733px) {
    .section-title {
        font-size: 4rem;
    }

    .vertical-menu {
        width: 75%;
        height: 100%;
    }

    .navbar-list {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .layer-gallery {
        display: none;
    }

    .logo {
        margin: 0 1.5rem;
    }

    .heading-wrapper {
        flex-direction: column;
        height: auto;
        margin: 3rem 0;
    }

    .heading-left {
        margin: 0;
        width: 100%;
    }

    .image-wrapper img {
        margin: 1rem auto;
    }

    .heading-right {
        margin: 2rem 3rem 0 3rem;
        width: 90%;
    }

    .latest-work-wrap {
        height: auto;
    }

    .latest-work-title {
        width: auto;
        text-align: left;
        margin-left: 1.5rem;
    }

    .latest-work-text {
        display: none;
    }

    .latest-works-gallery {
        width: 95%;
        flex-direction: column;
        margin: 0 0 0  1.5rem;
    }

    .project-wrap {
        height: 30rem;
        width: 95%;
    }

    .project-2 {
        margin-top: 1rem;
    }

    .window-wrapper {
        width: auto;
    }

    .contact-title {
        padding: 0 3rem;
        text-align: center;
    }

    .footer {
        margin: 0;
    }

    .footer .navbar-list {
        padding: 0;
        flex-direction: row;
    }

    .footer .nav-item {
        margin: 0 1rem;
        font-size: 1rem;
    }
}