/* Common Styles */
html {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: #f6f6f6;
    font-family: "Roboto", sans-serif;
    position: relative;
}

li {
    list-style: none;
}

.section-title {
    font-family: "VT323";
    font-size: 4.57rem;
}

:root {
    --white-color: #f6f6f6;
    --black-color: #000;
    --accent-color: #F4CD4B;
}

.heading-1 {
    font-size: 3.75rem;
    font-weight: 700;
}

/* Navbar */
.navbar {
    height: 5.18rem;
    margin: 0 5.31rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #DEE2E6;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 4%;
    visibility: hidden;
}

.line-menu {
    width: 19px;
    height: 2.5px;
    margin-bottom: 5px;
    background-color: #000;
}

.navbar:first-child {
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 1rem;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1rem;
}

.logo {
    text-decoration: none;
    color: #000;
    font-family: "VT323";
    font-size: 2.5rem;
}

/* Heading */
.heading-wrapper {
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Left Side Heading */

.heading-left {
    display: flex;
    justify-content: center;
}

.image-wrapper {
    margin-left: 5.31rem;
}

.image-wrapper img {
    position: relative;
    left: -5.31rem;
    height: 24.78rem;
    margin-left: 5.31rem;
    animation: userAnimation 4s ease-in-out infinite;
}

@keyframes userAnimation {
    0% {
        transform: translatey(0px);
    }

    50% {

        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

/* Right Side Heading */

.heading-right {
    margin: 0 5.37rem;
    width: 39.62rem;
}

.heading-text {
    font-size: 1.18rem;
    margin-bottom: 3.22rem;
}

.heading-1 {
    font-size: 4.57rem;
    margin: 0;
    line-height: 60px;
}

.button-style {
    width: 14rem;
    height: 3.62rem;
    position: relative;
    margin-top: 2.4rem;
    cursor: pointer;
}

.main-rec {
    box-sizing: border-box;
    position: absolute;
    width: 14rem;
    height: 3.62rem;
    background: var(--accent-color);
    border: 2px solid var(--black-color);
}

.main-rec p {
    color: var(--black-color);
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
    padding-top: 6%;
}

.rec-1 {
    box-sizing: border-box;

    position: absolute;
    bottom: 0;
    width: 0.44rem;
    height: 0.44rem;

    background: var(--white-color);
    border-width: 2px 2px 0px 0px;
    border-style: solid;
    border-color: #000000;
}


.rec-2 {
    box-sizing: border-box;

    position: absolute;
    right: 0;
    width: 0.44rem;
    height: 0.44rem;

    background: var(--white-color);
    border-width: 0px 0px 2px 2px;
    border-style: solid;
    border-color: #000000;
}


.rec-3 {
    box-sizing: border-box;

    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.44rem;
    height: 0.44rem;

    background: var(--white-color);
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: #000000;

}

.rec-4 {
    box-sizing: border-box;

    position: absolute;
    width: 0.44rem;
    height: 0.44rem;

    background: var(--white-color);
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #000000;
}

/* Latest Work Section */

.latest-work-wrap {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 3.96rem 0 3.96rem 0;
    background-color: #F1EFEB;
}

.latest-work-title,
.latest-work-text {
    margin: 0 0 0 5.31rem;
}

.latest-works-gallery {
    position: relative;
    margin: 0 0 0 5.31rem;
    display: flex;

}

.latest-works-gallery a {
    text-decoration: none;
}

.project-wrap {
    position: relative;
    width: 51.058vw;
    height: 34.78vw;
    margin: 3rem 7rem 3rem 0;
    background: #D7CBBB;
    border-radius: 4px 33px 37px;
    overflow: hidden;
}

.arrow-wrap {
    position: relative;
    width: 51.058vw;
    height: 34.78vw;
    margin: 3rem 7rem 3rem 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px 33px 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
}

.arrow-wrap:hover {
    opacity: 1;
}

.arrow-wrap-1 {
    position: absolute;
    z-index: 2;
}

.arrow-wrap-2 {
    position: absolute;
    left:30.5rem;
    z-index: 2;
}

.arrow {
    width: 5rem;
    background-color: var(--white-color);
    font-size: 4rem;
    border-radius: 10%;
    text-align: center;
}

.project-title {
    font-size: 2.40vw;
    margin: 2.5rem 0 0 2.5rem;
    color: var(--black-color);
}

.project-technologies {
    font-size: 1.60vw;
    margin: 1rem 0 0 2.5rem;
    color: var(--black-color);
}

.project-wrap img {
    position: relative;
    left: -2rem;
    margin: 2rem 0 0 0;
    width: 100%;
}

.line {
    border-left: 2px solid #DEDDDA;
    height: 18.5px;
    position: absolute;
    left: 50%;
    margin: -3px;
}

.show-more {
    text-align: center;
    margin: 2rem 0 0 0;
}

.show-more a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black-color);
}

/* Contact Me Section */

.contact-wrapper {
    height: 39.68rem;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {
    margin: 1rem auto;
}


/* Contact Window */

.window-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: none;
}

.window-wrapper {
    position: fixed;
    width: 906px;
    height: 518px;
    background-color: var(--white-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
}

.change {
    visibility: visible;
    opacity: 1;
}

.window-heading {
    position: absolute;
    width: 320px;
    height: 133px;
    left: 50px;
    top: 55px;

    font-family: "VT323";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
}

.window-text {
    position: absolute;
    width: 332px;
    height: 28px;
    left: 50px;
    top: 372px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.window-left i {
    position: absolute;
    margin: 9px 0;
    cursor: pointer;
}

.window-left i:first-of-type {
    left: 5.52%;
    top: 78.96%;
    font-size: 40px;

}

.icon-wrap {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 78.96%;
    left: 101px;
    margin: 12px 0;
    border-radius: 100%;
    background-color: #000;
}

.window-left i:last-child {
    left: 106px;
    top: 80%;
    font-size: 32px;
    color: var(--white-color);
}

.window-right {
    position: absolute;
    right: 0;
}

#contact-form {
    position: absolute;
    width: auto;
    height: 356px;
    right: 0px;
    top: 131px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
}

form:last-child {
    align-items: flex-end;
}

label {
    font-size: 18px;
    margin: 0 50px;
}

input,
textarea {
    width: 374px;
    background-color: var(--white-color);
    border: none;
    border-bottom: 2px solid var(--black-color);
    margin: 0 50px 0 50px;
    outline: none;
}

#contact-form textarea {

    min-height: 54px;
    max-height: 54px;
    min-width: 374px;
    max-width: 374px;
}

#contact-form button {
    position: absolute;
    bottom: 0;
    right: 50px;
    border: none;
    background: #556AEB;
    width: 80px;
    height: 40px;
    border-radius: 100px;
    color: var(--white-color);
    cursor: pointer;
}


/* Avatar */

.avatar {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 111px;
    height: 79px;

}

.avatar img {
    height: 4.93rem;
    width: 6.93;
}

@keyframes myAnimation {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.animated {
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

/* Footer */
.footer {
    height: 4rem;
    width: 69rem;
    margin: 0 5.31rem;
    border-top: 1px solid #DEE2E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    text-decoration: none;
    color: var(--black-color);
    font-size: 16px;
}

/* Responsive */

@media (min-width: 1279px) {
    .navbar {
        width: 1093px;
        margin: 0 auto;
    }

    .heading-wrapper {
        width: 1263px;
        margin: 0 auto;
    }

    .project-wrap {
        width: 31.31rem;
        height: 27.94rem;
    }

    .arrow-wrap {
        width: 31.31rem;
        height: 27.94rem;
    }

    .latest-work-title,
    .latest-work-text {
        width: 1093px;
        margin: 0 auto;
    }

    .latest-works-gallery {
        width: 1093px;
        margin: 0 auto;
        display: flex;
    }

    .arrow-wrap-2 {
        position: absolute;
        left: 53%;
        z-index: 2;
    }

    .project-1 {
        margin: 3rem 0 2rem 0;
    }

    .project-2 {
        margin: 3rem 0 2rem 5rem;
    }

    .footer {
        width: 1093px;
        margin: 0 auto;
    }
}

@media (max-width: 1008px) {
    html {
        font-size: 90%;
    }

    .navbar {
        margin: 0;
    }

    .logo {
        margin: 0 0 0 3%;
    }

    .nav-item {
        visibility: hidden;
    }

    .menu-wrapper {
        visibility: visible;
    }

    .image-wrapper {
        margin-left: 3rem;
    }

    .heading-right {
        margin: 0 3rem;
    }

    .heading-right .button-style,
    .main-rec {
        width: 100%;
    }

    .main-rec p {
        padding-top: 3%;
    }

    .latest-work-title,
    .latest-work-text {
        margin: 0 0 0 3rem;
    }

    .latest-works-gallery {
        margin: 0 0 0 3rem;
    }

    .project-wrap {
        margin: 3rem 3rem 3rem 0;
    }

    .arrow-wrap {
        z-index: -10;
    }

}